/*Fonts Css Start Here*/

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.default-color{
    background-color: #F5F8FF;
}

/* Fonts Css Finish Here */

/* Navbar Css Start Here */

.header{
 background-image: url(./Hero-bg.png);
 /*width: 1440px;
 height:698px;*/
 width:100%;  
 height:698px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px 0px 150px;
    margin-bottom: 158px;
}
nav h3{
    color:#4E47FF;
font-weight: bold;
font-size: 34px;
text-align: center;
}
.banner h1 {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: #252432;
    margin-right: 100px;
}


Nav a{
    text-decoration: none;
}
.btn-primary1 {
    color: white;
    background-color: #4E47FF;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;    
    font-weight: bold;
    transition: 1s;
    margin-right: 100px;
    
}

.btn-primary1:hover{
    color: white;
    background-color: #252426;
    font-size: 20px;
}

.btn-primary {
    color: white;
    background-color: #4E47FF;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;    
    font-weight: bold;
    transition: 1s;
    
}

.btn-primary:hover{
    color: white;
    background-color: #252426;
    font-size: 20px;
}
/*Navbar Css Finish Here*/

/*Banner Css Start Here*/
.banner {
    width: 905px;
    height: 237px;
    text-align: center;
    margin: 0px 267.5px;
}
.banner h1 {
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    color: #252432;
}
/* Banner Css Finish Here */

/* Action css Start Here */
.act-main {
    display: flex;
    align-items: center;
    width: 1140px;
    height: 328px;
    margin: 50px 150px;
    /* text-align: center; */
}
.action{}
.action h4 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action p {
    font-size: 24px;
    line-height: 34px;
    color: #8987A1;
    margin-right: 270px;
}
.act-img img{
    width: 403px;
    height: 328px;
    border-radius:48px;
}

/*action Css Finish Here */

/* Productive Css Start here */

.productive {
    background-color: #eae8fe;
    border-radius: 24px;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}
.prd-title {
    font-size: 38px;
    font-weight: bold;
    padding: 50px 80px;
    padding: 0px 80px 0px 80px;
    text-align: center;
    color: #252432;
}
.proud {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.prd-box{
 
}

.prd-value {
    font-size: 80px;
    font-weight: bold;
    margin: 0px auto;
    color: #4E47FF;
}
.prd-cmt {
    font-size: 20px;
    color: #757575;
}
/*productive css finish here */

/* testimonial css Start Here */

.testimonial{}
.testimonial h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    color: #252432;
}
.testimonial-card {
    display: flex;
    /* background-color: wheat; */
}
.testi-card {
    background-color: #FFFFFF;
    margin: 20px;
    text-align: left;
    border-radius: 14px;
    padding: 24px 24px;
    ;
}
.stars{}
.testi-card h3{}
.testi-card p{}
.reviewer img{
    border-radius: 50%;
}
.name{
    color: #8987A1;
    font-weight: bold;
}
.date{
    color: #B3B3B3;
}

/*testimonial css finish here*/

/*conf Starts here */
.conf-section {
    background-color: white;
}
.conf-top {
    text-align: center;
}
.conf-top h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 71px;
    line-height: 5px;
}
.conf-top p {
    text-align: center;
    padding-bottom: 20px;
}
.conf-bottom{}
.conf-bottom {
    /* width: 100%; */
    border-radius: 48px;
    margin: 20px 150px 10px 240px;
}
/*conf css finish here*/

/*form Css Start here */
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 150px 14px 150px;
}
.form-left{}
.form-left h3 {
    font-size: 87px;
    font-weight: bold;
}
.form-right{}
.form-right p {
    font-size: 18px;
    font-weight: 500;
}
.form-box {
    box-sizing: 47px;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border: none;
}
.btn-pr1{
    width: 100%;
}

/* Footer Css Start here*/

.footer {
    margin: 104px 450px 203px 450px;
}
.footer-top{}
.footer-top h3{
color:#4E47FF;
font-weight: bold;
font-size: 34px;
text-align: center;
}
.footer-top p{
    text-align: center;
    color: #B3B3B3;
   
}
.nav{}
.nav ul{
    display: flex;
    text-align: center;

}
.nav ul li{
    list-style:none;
}
.nav ul li a {
    text-decoration: none;
    color: #B3B3B3;
    margin-right: 35px;
    text-align: center;
    transition: 1s;
}

.nav ul li a:hover{
    color:#4E47FF;
    border-radius: 10px;
}
